
.container {
	margin:  0 auto;
	width: 60%;

}

.info-image-left, .info-image-right{
	display: block;
	margin: 40px 0;
	height: auto;
}

.info-image-left--image {
	width: 30%;
	float: left;

}

.info-image-right--image {
	width: 30%;
	float: right;
}

.info-image-left--image__image {
	float:left;
	border-radius: 50%;
	width: 300px;
	padding: 80px 0;
}

.info-image-right--image__image {
	float:right;
	border-radius: 50%;
	width: 300px;
	padding: 80px 0;
}




.info-image-right--text {
	display: inline-block;
	width: 60%;
	float: left;
}

.info-image-left--text {
	display: inline-block;
	width: 60%;
	float:right;
}

.info-image-right--text__button, .info-image-left--text__button {
	font-size: 18px;
	background-color: #C0E6E2;
	margin: 5px;
	padding: 12px 24px;
	border-radius: 8px;
	text-align: center;
}

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table; 
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
